.cabecalho{
    background-color: rgb(245, 144, 206);
    color: rgb(245, 144, 205);
    text-aling: center;
    max-width: 
}

.conteudo-principal{
    background-color: rgb(0, 0, 0);
color: rgb(245, 144, 206);
}